ion-img{
    margin: auto;
}

.title{
    font-weight: bolder;
    font-size: larger;
}

ion-grid{
    margin: 0;
    padding: 0;
}
.star{
    margin: 4px;
}
.checked{
    color: yellow;
}

.description{
    font-size: large;
}